.parent {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98b4ca;
  }
  .positioned-image {
    position: absolute;
    top: 110px; /* Adjust the top position */
    left: 700px; /* Adjust the left position */
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 500px;
    height: 150px;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #35aef5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  