.modal.fade * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.modal.fade body {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.fade .container {
    width: 450px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
    background-color: rgb(50, 50, 50);
}

.modal.fade .header {
    color: rgb(255, 255, 255);
    background-color: dodgerblue;
}

.modal.fade .header h1 {
    color: white;
    padding: 15px;
}

.modal.fade .body {
    flex: 1;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 30px;
}

.modal.fade .message {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    color: rgb(50, 50, 50);
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
}

.modal.fade .user_message {
    margin-left: auto;
    background-color: white;
    color: black;
}

.modal.fade .footer form {
    display: flex;
}

.modal.fade form input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
    background-color: white;
}

.modal.fade form button {
    width: 100px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}

.modal.fade form button:hover {
    background-color: blue;
    transition: 0.2s ease;
}
