main {
    margin: 0;
    padding: 0;
    background-image: url('../IMG/Jordans.jpg');
    background-size: cover;
    background-position: center;

  }


.rectangle {
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;

}




/* Add this to your CSS stylesheet */
.custom-card-img {
    max-height: 200px; /* Adjust this value as needed */
    object-fit: contain; /* Adjust the object-fit property as needed */
}

 .offer-card {
     background-color: white; /* Set the background color to white */
     padding: 20px;
     border-radius: 10px;
     margin-bottom: 20px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
