<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Checkout</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<nav class="navbar navbar-expand-lg navbar-light fs-3 pt-3 pb-3" style="background-color: #FFC128">
  <div class="container-fluid " >
    <img src="img/logo.png" alt="" width="100" height="100">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ps-5" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ps-5">
          <a class="nav-link active" aria-current="page" href="#"> <i class="fa-solid fa-house"></i>    Home</a>
        </li>
        <li class="nav-item ps-5">
          <a class="nav-link" href="#"><i class="fa-solid fa-bars"></i>    Products</a>
        </li>
        <li class="nav-item ps-5">
          <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i>    My Cart</a>
        </li>
        <li class="nav-item ps-5">
          <a class="nav-link" href="#"><i class="fa-solid fa-user"></i>   Profile</a>
        </li>
        <li class="nav-item ps-5">
          <a class="nav-link" href="#"><i class="fa-solid fa-circle-info"></i>   About Us</a>
        </li>
        <!--        <li class="nav-item dropdown">-->
        <!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
        <!--            Dropdown-->
        <!--          </a>-->
        <!--          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
        <!--            <li><a class="dropdown-item" href="#">Action</a></li>-->
        <!--            <li><a class="dropdown-item" href="#">Another action</a></li>-->
        <!--            <li><hr class="dropdown-divider"></li>-->
        <!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
        <!--          </ul>-->
        <!--        </li>-->

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <!--      <li class="nav-item">-->
      <!--        <a class="nav-link" href="#">Account</a>-->
      <!--      </li>-->
    </div>
  </div>
</nav>
<body>
<div class="container">
  <h1>Checkout</h1>
  <div class="row">
    <div class="col-md-6">
      <h2>Your Order</h2>
            <table class="table">
        <thead>
        <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
        </tr>
        </thead>
        <tbody>
                <tr>
                    <td>Nike shoes</td>
                    <td>1</td>
                    <td>$10</td>
                </tr>
                <tr>
                    <td>Nike AF1</td>
                    <td>2</td>
                    <td>$20</td>
        </tr>
        </tbody>
      </table>
            <h3>Subtotal: $30</h3>
            <h3>Shipping: $5</h3>
            <h3>Tax: $2</h3>
            <h3>Total: $37</h3>
    </div>
    <div class="col-md-6">
      <h2>Billing Information</h2>
            <form action="/checkout" method="post">
                <input type="text" name="name" placeholder="Name">
                <input type="text" name="email" placeholder="Email">
                <input type="text" name="address" placeholder="Address">
                <input type="text" name="city" placeholder="City">
                <input type="text" name="state" placeholder="State">
                <input type="text" name="zip" placeholder="Zip Code">
                <input type="submit" value="Checkout">

                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Cash on delivery</button>
                    <button type="button" class="btn btn-success">Online Payment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>