<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/CSS/Dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="navbar">
        <img src="../static/IMG/Cart.svg" alt="Logo" class="logo" style="margin-left: 50px;">
        <a class="navbar-item" href="#" style="margin-left: 50px;"> Home</a>
        <a class="navbar-item" href="#" style="margin-left: 40px;">Search</a>
        <a class="navbar-item" href="#" style="margin-left: 40px;">MyCart</a>
        <a class="navbar-item" href="#" style="margin-left: 40px;">Account</a>
        <a class="navbar-item" href="#" style="margin-left: 40px;">Settings</a>
        <h2 style="margin-left: 450px;">Welcome User!!!</h2>
    </div>
    <div class="search-bar" style="margin-left: 180px;">
        <input type="text" class="search-input" placeholder="Search for a product, category,sellers or brand">
        <button class="search-button">Search</button>
    </div>
    <div class="navbar-container">
     <div class="sec-navbar">
        <a class="sec-navbar-item" href="#" style="margin-left: 50px;"> Men</a>
        <a class="sec-navbar-item" href="#" style="margin-left: 40px;">Women</a>
        <a class="sec-navbar-item" href="#" style="margin-left: 40px;">Baby and Kids</a>
        <a class="sec-navbar-item" href="#" style="margin-left: 40px;">Books</a>
        <a class="sec-navbar-item" href="#" style="margin-left: 40px;">Shoes</a>
        <a class="sec-navbar-item" href="#" style="margin-left: 40px;">Household</a>
        <a class="sec-navbar-item" href="#" style="margin-left: 40px;">All Departments</a>
     </div>
    </div>
    <div class="cont">
        <div class="rectangle"></div>
        <div class="text-rectangle">
            <h3>New Year Offer <br>25% Off</h3>        
            <h4>Till 29 April 2023</h4>
        </div>
        <div class="nrect"></div>
        <div class="erect"></div>
    </div>
</body>
</html>