<!DOCTYPE html>

<html>
<head>
  <title>Forget Password</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <style>
    .container {
      max-width: 400px;
      margin: 50px auto;

      border: 2px solid #000000;
        padding: 20px;   
        background-color: #ffffff;
    }
    .Cont{
        margin-top: 20px;
        width: 500px;
        margin: 100px auto;
        border: 2px solid #98b4ca;
        background-color: #98b4ca;

    }
    .positioned-image {
            position: absolute;
            top: 20px;
            left: 20px;
            border-radius: 50%;
            width: 80px;
            height: 80px;
        }
  </style>
</head>
<body>
     <img class="positioned-image" src="/src/main/resources/static/IMG/logo.png">
    <div class="Cont">

    }
  </style>
</head>
<body>

  <div class="container">
    <h2>Forget Password</h2>
    <form id="passwordForm">
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" class="form-control" id="newPassword" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" class="form-control" id="confirmPassword" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <hr>
    <h5>Security Questions:</h5>
    <form>
      <div class="form-group">
        <label for="question1">Question 1:</label>
        <input type="text" class="form-control" id="question1">
      </div>

    
      <button type="submit" class="btn btn-primary">Save Answers</button>
    </form>
  </div>
    </div>

      <div class="form-group">
        <label for="question2">Question 2:</label>
        <input type="text" class="form-control" id="question2">
      </div>
      <div class="form-group">
        <label for="question3">Question 3:</label>
        <input type="text" class="form-control" id="question3">
      </div>
      <button type="submit" class="btn btn-primary">Save Answers</button>
    </form>
  </div>


  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Custom JS -->
  <script>
    // Password form submit event
    document.getElementById('passwordForm').addEventListener('submit', function(e) {
      e.preventDefault(); // Prevent form submission
      
      // Get the values of the new password and confirm password fields
      var newPassword = document.getElementById('newPassword').value;
      var confirmPassword = document.getElementById('confirmPassword').value;
      
      // Check if the passwords match
      if (newPassword === confirmPassword) {
        // Passwords match, perform necessary actions (e.g., submit the form)
        console.log('Passwords match!');
        // Add your code here to submit the form or perform any other required actions
      } else {
        // Passwords don't match, display an error message
        console.log('Passwords do not match!');
        // Add your code here to display an error message to the user
      }
    });
  </script>
</body>
</html>


<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/src/main/resources/static/CSS/Forget.css">
        <title>Forget Password</title>
    </head>
    
    <body>
        <div class="row">
            <h1>Forget Password?</h1>
            <h6 class="information-text">Enter your registered email to reset your password.</h6>
            
            <div class="form-group">
                <input type="email" name="user_email" id="user_email" placeholder="EMAIL">
                <button onclick="showSpinner()">Reset Password</button>
            </div>

            <div class="footer">
                <h5>Not a member? <a href="Animated-LoginForm2.html">Sign Up.</a></h5>
                <h5>Already have an account? <a href="Animated-LoginForm2.html">Sign In.</a></h5>
            </div>
        </div> 
      
    </body>
</html>


