<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/CSS/Card.css">
</head>
<body>
    <div class="parent">
        <img class="positioned-image" src="/src/main/resources/templates/img/logo.png">
    <div class="card">
        <h1>Hello User,</h1>
        <p>Congratulation!!! You have received a discount coupon.</p>
        <button id="receiveButton">Receive</button>
      </div>
    </div>
      
      <script>
          document.getElementById("receiveButton").addEventListener("click", function() {
  // Add your logic here when the button is clicked
  alert("Discount received!");
});

          </script>
</body>
</html>