<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<!------ Include the above in your HEAD tag ---------->

<head>
    <title>E-shop</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/IMG/logo.png}" />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"  />

    <link href="../static/CSS/header.css" rel="stylesheet" th:href="@{/CSS/header.css}">
    <link href="../static/CSS/footer.css" rel="stylesheet" th:href="@{/CSS/footer.css}">
</head>



<body>
<header class="sticky-top" th:if="${user.role=='Buyer'}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid" style="min-height: 80px">
            <a class="navbar-brand" href="#">
                <!-- Replace the text with your logo or image -->
                <img src="../static/IMG/logo.png" alt="Logo" th:src="@{/IMG/logo.png}" style="height: 5em;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#buyerNavbarSupportedContent" aria-controls="buyerNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="buyerNavbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/buyer/dashboard}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  th:href="@{/buyer/catalog}">Catalog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/buyer/cart/view}">Cart</a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#notificationsModal">
                            <i class="fas fa-bell"></i> Notifications
                        </button>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" role="button" th:text="${user.fname}" data-bs-toggle="dropdown" aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/user/view">View Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#deleteBuyerConfirmationModal">Delete Account</button></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" type="button" data-bs-target="#logoutBuyerConfirmationModal" data-bs-toggle="modal">Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


</header>
<!--Delete Modal-->
<div class="modal fade" id="deleteBuyerConfirmationModal" tabindex="-1" aria-labelledby="deleteBuyerConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteBuyerConfirmationModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <!-- Delete link to the delete URL -->
                <form th:action="@{/user/delete}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="logoutBuyerConfirmationModal" tabindex="-1" aria-labelledby="logoutBuyerConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutBuyerConfirmationModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to log out?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <!-- Delete link to the delete URL -->
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Notifications Modal -->
<div class="modal fade" id="notificationsModal" tabindex="-1" aria-labelledby="notificationsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationsModalLabel">Notifications</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group" th:each="notification:${notifications}">
                    <!-- You can dynamically populate notifications here -->
                    <li class="list-group-item" th:text="${notification.notifyContent}">
                        New Offer: Get 20% off on shoes! Use code <strong>SHOE20</strong>.</li>

                    <!-- ... (More notifications) ... -->
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<header class="sticky-top" th:if="${user.role=='Seller'}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid" style="min-height: 80px">
            <a class="navbar-brand" href="#">
                <!-- Replace the text with your logo or image -->
                <img src="../static/IMG/logo.png" alt="Logo" th:src="@{/IMG/logo.png}" style="height: 5em;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sellerNavbarSupportedContent" aria-controls="sellerNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="sellerNavbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/seller/dashboard}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  th:href="@{/seller/inventory}">Inventory</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{/seller/item/add}">Add Items</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" th:text="${user.fname}" data-bs-toggle="dropdown" aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/user/view">View Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#deleteSellerConfirmationModal">Delete Account</button></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" type="button" data-bs-target="#logoutSellerConfirmationModal" data-bs-toggle="modal">Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>

<!--Logout Confirmation model-->
<div class="modal fade" id="logoutSellerConfirmationModal" tabindex="-1" aria-labelledby="logoutSellerConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutSellerConfirmationModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to log out?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <!-- Delete link to the delete URL -->
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="deleteSellerConfirmationModal" tabindex="-1" aria-labelledby="deleteSellerConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteSellerConfirmationModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <!-- Delete link to the delete URL -->
                <form th:action="@{/user/delete}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>



<main>

<div class="container bootstrap snippet">
    	<div class="col-sm-12">
            <ul class="nav nav-tabs">
              </ul>



            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" th:action="@{/user/update}" th:method="post" id="registrationForm" enctype="multipart/form-data">
                      <div class="form-group">
                          <div class="row">
                              <div class="col-5">

                              <div class="text-center" >
                                  <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" th:if="${imageBase64}==null" id="preview"  class="avatar img-circle img-thumbnail" alt="pp">
                                  <img th:src="'data:image/png;base64,'+${imageBase64}" th:unless="${imageBase64}==null"  id="preview"  class="avatar img-circle img-thumbnail" alt="pp">
                                  <h6>Upload a different photo...</h6>
                                  <input accept="image/*" name="Image" id="image" type="file" class="text-center center-block file-upload" >
                              </div><br>
                              </div>
                            <div class="col-7">

                            <div class="row">

                          <div class="col-6">
                              <label for="first_name"><h4>First name</h4></label>
                              <input type="text" class="form-control" name="fname" th:field="${user.fname}" id="first_name" placeholder="first name" title="enter your first name if any.">
                          </div>
                            <div class="col-6">
                                    <label for="last_name"><h4>Last name</h4></label>
                                    <input type="text" class="form-control" name="lname" th:field="${user.lname}" id="last_name" placeholder="last name" title="enter your last name if any.">
                            </div>
                        </div>


                      <div class="form-group">
                            <div class="row">

                          <div class="col-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <input type="text" class="form-control" th:field="${user.phoneNumber}" name="phoneNumber" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                          </div>
                                <div class="col-6">
                                    <label for="mobile"><h4>Mobile</h4></label>
                                    <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                                </div>
                      </div>


                            </div>
                      <div class="form-group">

                      <div class="row">
                          <div class="col-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" th:field="${user.email}" placeholder="you@email.com" title="enter your email.">
                          </div>
                          <div class="col-6">
                              <label for="email"><h4>Location</h4></label>
                              <input type="text" class="form-control" name="address" id="location" th:field="${user.address}"placeholder="somewhere" title="enter a location">
                          </div>
                      </div>
                      <div class="form-group">
                            <div class="row">

                          <div class="col-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" th:field="${user.password}" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                                <div class="col-6">
                                    <label for="password2"><h4>Verify</h4></label>
                                    <input type="password" class="form-control" th:field="${user.password}" name="password2" id="password2" placeholder="password2" title="enter your password2.">

                                </div>
                      </div>
                            </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
                        </div>
                      </div>
                            </div>
                      </div>
              	</form>



        </div><!--/col-9-->
    </div><!--/row-->
    </div>

</main>
<footer class="footer mt-3">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="/user/about">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="/user/terms">terms and condition</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>FAQ</h4>
                <ul>
                    <li><a href="/feedback">Feedback</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/slesha.dahal.3"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.tiktok.com/@prociyashrestha"><i class="fab fa-tiktok"></i></a>
                    <a href="https://www.instagram.com/kriteemmuu/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/abhigya-shrestha-585564231/"><i class="fab fa-linkedin-in"></i></a>

                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    // JavaScript code for updating the selected image
    document.getElementById('image').addEventListener('change', function(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('preview').src = e.target.result;
        };
        reader.readAsDataURL(file);
    });
</script>
</body>
</html>
