<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<!------ Include the above in your HEAD tag ---------->

<head>
  <title>E-commerce</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</head>


<body>
<nav class="navbar navbar-expand-lg navbar-light fs-3 pt-3 pb-3" style="background-color: #98b4ca">
    <div class="container-fluid " >
        <img src="../static/IMG/logo.png" th:src="@{/IMG/logo.png}" alt="" width="100" height="100">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ps-5" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ps-5">
                    <a class="nav-link active" aria-current="page" href="#"> <i class="fa-solid fa-house"></i>    Home</a>
                </li>
                <li class="nav-item ps-5">
                    <a class="nav-link" href="#"><i class="fa-solid fa-bars"></i>    Products</a>
                </li>
                <li class="nav-item ps-5">
                    <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i>    My Cart</a>
                </li>
                <li class="nav-item ps-5">
                    <a class="nav-link" href="#"><i class="fa-solid fa-user"></i>   Profile</a>
                </li>
                <li class="nav-item ps-5">
                    <a class="nav-link" href="#"><i class="fa-solid fa-circle-info"></i>   About Us</a>
                </li>
                <li class="nav-item ps-5">
                    <a href="#" class="nav-link">Logout</a>
                </li>
                <li class="nav-item ps-5">
                    <a href="#" class="nav-link">Delete Account</a>
                </li>
                <!--        <li class="nav-item dropdown">-->
                <!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
                <!--            Dropdown-->
                <!--          </a>-->
                <!--          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                <!--            <li><a class="dropdown-item" href="#">Action</a></li>-->
                <!--            <li><a class="dropdown-item" href="#">Another action</a></li>-->
                <!--            <li><hr class="dropdown-divider"></li>-->
                <!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                <!--          </ul>-->
                <!--        </li>-->

            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <!--      <li class="nav-item">-->
            <!--        <a class="nav-link" href="#">Account</a>-->
            <!--      </li>-->
        </div>
    </div>
</nav>
<main>

<div class="container bootstrap snippet">
    	<div class="col-sm-12">
            <ul class="nav nav-tabs">
              </ul>



            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" th:action="@{/user/update}" th:method="post" id="registrationForm" enctype="multipart/form-data">
                      <div class="form-group">
                          <div class="row">
                              <div class="col-5">

                              <div class="text-center">
                                  <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" id="preview" class="avatar img-circle img-thumbnail" alt="avatar">
                                  <h6>Upload a different photo...</h6>
                                  <input accept="image/*" name="Image" id="image" type="file" class="text-center center-block file-upload" >
                              </div><br>
                              </div>
                            <div class="col-7">

                            <div class="row">

                          <div class="col-6">
                              <label for="first_name"><h4>First name</h4></label>
                              <input type="text" class="form-control" name="fname" th:field="${user.fname}" id="first_name" placeholder="first name" title="enter your first name if any.">
                          </div>
                            <div class="col-6">
                                    <label for="last_name"><h4>Last name</h4></label>
                                    <input type="text" class="form-control" name="lname" th:field="${user.lname}" id="last_name" placeholder="last name" title="enter your last name if any.">
                            </div>
                        </div>


                      <div class="form-group">
                            <div class="row">

                          <div class="col-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <input type="text" class="form-control" th:field="${user.phoneNumber}" name="phoneNumber" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                          </div>
                                <div class="col-6">
                                    <label for="mobile"><h4>Mobile</h4></label>
                                    <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                                </div>
                      </div>


                            </div>
                      <div class="form-group">

                      <div class="row">
                          <div class="col-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" th:field="${user.email}" placeholder="you@email.com" title="enter your email.">
                          </div>
                          <div class="col-6">
                              <label for="email"><h4>Location</h4></label>
                              <input type="text" class="form-control" name="address" id="location" th:field="${user.address}"placeholder="somewhere" title="enter a location">
                          </div>
                      </div>
                      <div class="form-group">
                            <div class="row">

                          <div class="col-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" th:field="${user.password}" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                                <div class="col-6">
                                    <label for="password2"><h4>Verify</h4></label>
                                    <input type="password" class="form-control" th:field="${user.password}" name="password2" id="password2" placeholder="password2" title="enter your password2.">

                                </div>
                      </div>
                            </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
                        </div>
                      </div>
                            </div>
                      </div>
              	</form>



        </div><!--/col-9-->
    </div><!--/row-->
    </div>

</main>
<script>
    // JavaScript code for updating the selected image
    document.getElementById('image').addEventListener('change', function(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('preview').src = e.target.result;
        };
        reader.readAsDataURL(file);
    });
</script>
</body>
</html>
