<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <link rel="stylesheet" type="text/css" href="/src/main/resources/static/CSS/Chat.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Seller Chat</h1>
            </div>
            <div class="body">
                <p class="message">Hello</p>
                <p class="message user_message">Hi</p>
            </div>
            <div class="footer">
                <form>
                    <input type="text" name="">
                    <button>SEND</button>
                    </input>
                </form>
            </div>
        </div>
        </body>
        </html>
                