<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"  />

    <link href="../static/CSS/header.css" rel="stylesheet" th:href="@{/CSS/header.css}">
    <link href="../static/CSS/footer.css" rel="stylesheet" th:href="@{/CSS/footer.css}">
    <title>Update Item</title>
</head>
<body>
<header class="sticky-top" th:if="${user.role=='Seller'}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid" style="min-height: 80px">
            <a class="navbar-brand" href="#">
                <!-- Replace the text with your logo or image -->
                <img src="../static/IMG/logo.png" alt="Logo" th:src="@{/IMG/logo.png}" style="height: 5em;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sellerNavbarSupportedContent" aria-controls="sellerNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="sellerNavbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/seller/dashboard}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  th:href="@{/seller/inventory}">Inventory</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" type="button"  data-toggle="modal" data-target="#myModal" href="#"><i  ></i> Notification <span th:text="${count}"></span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" th:text="${user.fname}" data-bs-toggle="dropdown" aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/user/view">View Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#deleteSellerConfirmationModal">Delete Account</button></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" type="button" data-bs-target="#logoutSellerConfirmationModal" data-bs-toggle="modal">Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>

<!--Logout Confirmation model-->
<div class="modal fade" id="logoutSellerConfirmationModal" tabindex="-1" aria-labelledby="logoutSellerConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutSellerConfirmationModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to log out?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <!-- Delete link to the delete URL -->
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="deleteSellerConfirmationModal" tabindex="-1" aria-labelledby="deleteSellerConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteSellerConfirmationModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <!-- Delete link to the delete URL -->
                <form th:action="@{/user/delete}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Content specific to the home page -->
<main  >

    <div class="container-fluid mt-3 pt-3">
        <div class="h1 text-center mt-5">
            Update Item
        </div>
        <div class="row">
            <div class="col-8">
                <div class="ms-4">

                    <form th:action="@{/seller/item/save}" th:method="post" enctype="multipart/form-data">
                        <div class="form-group mb-4">
                            <label for="name">Item Id</label>
                            <input type="text" class="form-control" id="id" th:field="${item.itemId}" name="itemId" placeholder="Enter Item Id">
                        </div>
                        <div class="form-group mb-4">
                            <label for="name">Item Name</label>
                            <input type="text" class="form-control" id="name" name="itemName" th:field="${item.itemName}" placeholder="Enter Item Name">
                        </div>
                        <div class="form-group mb-4">
                            <label for="description">Item Description</label>
                            <textarea type="text" class="form-control" id="description" name="itemDescription" th:field="${item.itemDescription}" placeholder="Enter Item Description">
                </textarea>
                        </div>
                        <div class="form-group mb-4">
                            <label for="price">Item Price</label>
                            <input type="number" class="form-control" id="price" name="itemPrice" th:field="${item.itemPrice}" placeholder="Enter Item Price">
                        </div>
                        <div class="form-group mb-4">
                            <label for="quantity">Item Quantity</label>
                            <input type="number" class="form-control" id="quantity" th:field="${item.itemQuantity}" name="itemQuantity" placeholder="Enter Item Quantity">
                        </div>
                        <div class="form-group mb-4">
                            <label for="image">Item Image</label>
                            <input type="file" class="form-control" id="image" name="itemImage"  accept="image/*" >
                        </div>
                        <div class="form-group mb-4 ">
                            <div class="row">
                                <div class="col-2  me-3`">
                                    <label for="sel1" class="form-label">Select Category</label>
                                    <select class="form-select" id="sel1" name="category">
                                        <option th:text="${item.category.catName}" th:value="${item.category.catId}"></option>
                                        <option th:each="category:${categories}" th:text="${category.catName}" th:value="${category.catId}"></option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-4">
                <img th:src="'data:image/png;base64,'+${imageBase64}" id="preview-image" class="img-fluid" alt="Img">
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="/user/about">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="/user/terms">terms and condition</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4></h4>
                <ul>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/slesha.dahal.3"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.tiktok.com/@prociyashrestha"><i class="fab fa-tiktok"></i></a>
                    <a href="https://www.instagram.com/kriteemmuu/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/abhigya-shrestha-585564231/"><i class="fab fa-linkedin-in"></i></a>

                </div>
            </div>
        </div>
    </div>
</footer>
<!--Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form th:action="@{/category/add}" th:method="post">
                    <div class="mb-3">
                        <label for="catName" class="form-label">Category Name</label>
                        <input type="text" class="form-control" id="catName" placeholder="Enter category name" name="catName">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Category</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>
    // JavaScript code for updating the selected image
    document.getElementById('image').addEventListener('change', function(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('preview-image').src = e.target.result;
        };
        reader.readAsDataURL(file);
    });
</script>

</body>
</html>